{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/jsx-filename-extension":  0,
    "linebreak-style": 0
  }
}